#Ignores most outputs
/*

#keeps git ignore
!.gitignore

#Keeps java source
!/src
!/src/main

#keeps gradle configs
!addon.gradle
!build.gradle
!dependencies.gradle
!gradle.properties
!gradlew
!gradlew.bat
!jitpack.yml
!LICENSE-template
!repositories.gradle

#keeps readme
!README.md